#app {
    font-family: Helvetica Neue,Helvetica,microsoft yahei,arial,STHeiTi,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
  
  }
  body{
    margin: 0px;
  }
    .bg-purple {
      height: 70px;
      line-height: 70px;
      text-align: left;
      color: white;
      padding-left: 20px;
    }
    .bg-purple-light {
      height: 70px;
      text-align: right;
      color: white;
      line-height: 70px;
      padding-right: 20px;
    }
    .el-menu{
      border: 0px;
  
    }
    .el-breadcrumb{
        margin-bottom: 20px;
    }
    .el-breadcrumb__item__inner{
        color: #48576a;
    }
    .el-breadcrumb__inner{
    color: #97a8be;
    font-size: 13px;
    }
    .seach{
        margin-bottom: 20px;
    }
    .el-pagination{
        float: right;
    }
    .el-table thead{
        color: #1f2d3d;
    }
    tbody {
        color: #1f2d3d;
        font-size: 14px;
    }
    .el-table th, .el-table thead{
        background: #eef1f6;
    }
    .el-table--border{
border-left: 0px;
    }
    .el-table--border, .el-table--group{
        border: 1px solid #dfe6ec;
    }
    .el-table td, .el-table th{
        padding: 0px;
    }
    .el-table th>.cell{
        height: 30px;
    }
    .el-table th, .el-table tr{
        height: 40px;
    }
    .cell{
        padding-left: 18px;
    }
    .el-table .cell{
        line-height: 32px;
        height: 32px;
    
    }
  /* two */

  .scren{
      height: 50px;
      display: flex;
  }
  .screen{
    height: 50px;
      flex: 2;
      width: 70%;
  }
  .screen right{
    height: 50px;
      width: 30%;
  }
  
  .sea{
      float: right;
  }
  /* .el-button--primary{
    background-color: #3097d1;
    border-color: #2a88bd;
  } */

  .seachs{
    width: 200px;
    float: left;
    margin-right: 10px;
}
.el-table--enable-row-transition{
    text-align: center;
}
.el-table th>.cell{
    text-align: center;
}
.site{
    text-align: none;
}

/* three */
.surface{
    width: 45%;
}
.el-col-2{
    text-align: center;
}